@font-face {
  font-family: "Norwester";
  src: url(assets/norwester.otf);
}

.cells {
	display: flex;
}
.containment {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 4px;
	margin: 5px;
	flex: 1;
	background-image: url("assets/Containment_Unit.png");
	background-size: cover;
	aspect-ratio: 950 / 581;
	filter: brightness(50%);
}
.abnomenu {
	position: absolute;
	z-index: 1;
	display: flex
}

.abnormality {
	max-width: 50%;
}
.nameplate {
	text-align: center;
	font-family: "Norwester";
}

#clickPanel {
	position: fixed;
	border: 4px solid orange;
}