@font-face {
  font-family: "Norwester";
  src: url(assets/norwester.otf);
}

.cells {
	display: flex;
}
.containment {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 4px;
	margin: 5px;
	flex: 1;
	background-image: url("assets/Containment_Unit.png");
	background-size: cover;
	aspect-ratio: 950 / 581;
	filter: brightness(50%);
}
.abnormality {
	max-width: 50%;
}
.nameplate {
	text-align: center;
	font-family: "Norwester";
}